@font-face {
    font-family: "iran-yekan";
    src: url('https://cdn.willaspace.com/web-builder/fonts/iran-yekan/iran-yekan-regular.ttf');
}
@font-face {
    font-family: "iran-yekan-black";
    src: url('https://cdn.willaspace.com/web-builder/fonts/iran-yekan/iran-yekan-black.ttf');
}
@font-face {
    font-family: "iran-yekan-bold";
    src: url('https://cdn.willaspace.com/web-builder/fonts/iran-yekan/iran-yekan-bold.ttf');
}
@font-face {
    font-family: "iran-yekan-extrablack";
    src: url('https://cdn.willaspace.com/web-builder/fonts/iran-yekan/iran-yekan-extrablack.ttf');
}
@font-face {
    font-family: "iran-yekan-extrabold";
    src: url('https://cdn.willaspace.com/web-builder/fonts/iran-yekan/iran-yekan-extrabold.ttf');
}
@font-face {
    font-family: "iran-yekan-light";
    src: url('https://cdn.willaspace.com/web-builder/fonts/iran-yekan/iran-yekan-light.ttf');
}
@font-face {
    font-family: "iran-yekan-medium";
    src: url('https://cdn.willaspace.com/web-builder/fonts/iran-yekan/iran-yekan-medium.ttf');
}
@font-face {
    font-family: "iran-yekan-regular";
    src: url('https://cdn.willaspace.com/web-builder/fonts/iran-yekan/iran-yekan-regular.ttf');
}
@font-face {
    font-family: "iran-yekan-thin";
    src: url('https://cdn.willaspace.com/web-builder/fonts/iran-yekan/iran-yekan-thin.ttf');
}